<div>
    <h1>✅</h1>
    <h2> Hadou Houma Info Ta3 {{ promotion }} </h2>
    <ul>
        <li> <a>Nom : </a> {{ user.nom }}</li>
        <li> <a>Email : </a> {{ user.email }}</li>
        <li> <a>login : </a> {{ user.login }}</li>
        <li> <a>Password : </a> {{ user.password }}</li>

    </ul>
</div>